<section class="gifting-featured">
  <div class="gifting-featured__container o-wrapper o-wrapper--inner">
    <div class="gifting-featured__header">
      <h3 class="gifting-featured__heading">
        {{ title }}
      </h3>
      <div class="gifting-featured__pagination">
        <button class="gifting-featured__prev fas fa-chevron-left"></button>
        <button class="gifting-featured__next fas fa-chevron-right"></button>
      </div>
    </div>

    <div class="gifting-featured__slider">
      {% for item in items %}
        <a href="{{ item.gift_link }}" class="gifting-featured__slide">
          <div class="gifting-featured__image">
            <img src="{{ Image(item.thumbnail)|letterbox(
                440,
                440,
                '#eae7e6'
              ) }}"
              alt="" />
            <div class="gifting-featured__overlay">
              <span>View</span>
            </div>
          </div>
          <div class="gifting-featured__brand">
            {{ item.gift_brand }}
          </div>
          <div class="gifting-featured__title">
            {{ item.name }}
          </div>

          <div class="gifting-featured__price">
            £{{ item.gift_price }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
