{#
* Follow Social Media
* --------
* @component parts
* @version 1.0.0
#}
{% extends 'newsletter/global/flex-container.twig' %}

{% block flexcontent %}

    {% set instagramUser = object.instagram.user ? object.instagram.user : 'thegentsjournal' %}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="c-fl">
        <tbody>
            <tr>
                <td align="center" valign="middle" class="c-fl__platforms">

                    <ul class="c-fl__social">

                        {% if not object.instagram.user %}
                        <li class="c-fl__social-item">
                            <a class="c-fl__link" href="https://twitter.com/thegentsjournal">
                                <img class="c-fl__social-icon" src="https://gallery.mailchimp.com/be77c5006ebd55787abce2788/images/7849593a-91ec-46ae-94d7-d3217e05b762.png" width="22px" alt="Twitter">
                            </a>
                        </li>
                        {% endif %}

                        <li class="c-fl__social-item">
                            <a class="c-fl__link" href="https://www.instagram.com/{{ instagramUser }}/" target="_blank">
                                <img class="c-fl__social-icon" src="https://gallery.mailchimp.com/be77c5006ebd55787abce2788/images/437ad78e-c649-45f6-b5ca-96e06d3f1905.png" width="22px" alt="Instagram">
                            </a>
                        </li>

                        {% if not object.instagram.user %}
                        <li class="c-fl__social-item">
                            <a class="c-fl__link" href="https://www.facebook.com/thegentlemansjournal/">
                                <img class="c-fl__social-icon" src="https://gallery.mailchimp.com/be77c5006ebd55787abce2788/images/9a5a234e-bd84-4833-af40-2b1436d177f5.png" width="22px" alt="Facebook">
                            </a>
                        </li>
                        {% endif %}

                    </ul>

                    <p class="c-fl__instaname">
                        <a class="c-fl__link" href="https://www.instagram.com/{{ instagramUser }}/" target="_blank">@{{ instagramUser }}</a>
                    </p>

                </td>
            </tr>

            {% if object.iphone %}
            <tr>
                <td align="center" valign="bottom">
                    <a class="c-fl__link" href="https://www.instagram.com/{{ instagramUser }}/" target="_blank">
                        <img class="c-fl__phone" width="345px" src="{{ Image(object.iphone).src|resize(604, 1000) }}" alt="Follow {{ instagramUser }} on Instagram">
                    </a>
                </td>
            </tr>
            {% endif %}

        </tbody>
    </table>

{% endblock %}
