{#
* Masthead
* --------
* @component parts
* @version 1.0.0
#}
{% extends 'newsletter/global/flex-container.twig' %}

{% block flexcontent %}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="c-mh">
        <tbody>
            <tr>
                <td class="c-mh__item c-mh__item--logo" align="left" valign="middle">
                    <a href="{{ site.url }}" target="_blank">
                        <img class="c-mh__logo" src="https://gallery.mailchimp.com/be77c5006ebd55787abce2788/images/a51cdc3b-d0ec-43df-a6b6-1e266b418277.png" width="40px" height="40px" alt="{{ site.title }}">
                    </a>

                    {% if newsletter.config.tagline %}
                        <p class="c-mh__tagline">{{ newsletter.config.tagline }}</p>
                    {% endif %}

                </td>
                <td class="c-mh__item c-mh__item--menu" align="right" valign="middle">
                    <ul class="c-mh__menu">
                        {% for item in newsletter.masthead.menu if not newsletter.config.tagline %}
                            <li class="c-mh__menu-item">
                                <a class="c-mh__menu-link" href="{{ item.link.url }}" target="_blank">{{ item.link.title }}</a>
                            </li>
                        {% else %}
                            <li class="c-mh__menu-item">
                                <a class="c-mh__menu-link" href="{{ item.link.url }}" target="_blank">{{ item.link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}