<section class="clubhouse-featured">
  <a href="{{ post.link }}" class="clubhouse-featured__image">
    {% include 'objects/image.twig' with {
      alt: post.title,
      img: {
        base: {
          obj: Image(post.thumbnail),
          w: '1215',
          h: '814',
          c: 'center'
        }
      }
    } %}

    {% if not fn('isAdminUser', user.ID) %}
      {% if not fn('isSubscriber', user.ID) %}
        <div class="clubhouse-featured__overlay">
          <div class="clubhouse-featured__locked">
            <div class="clubhouse-featured__locked-icon"
              data-tooltip="Members only">
              {% include 'objects/icon--padlock.twig' %}
            </div>
            <p class="clubhouse-featured__locked-text">
              This article is for members only
            </p>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </a>

  <div class="clubhouse-featured__content">
    <div class="clubhouse-featured__info">
      {% for cat in post.terms if cat.ID == membersCatID %}
        <div class="clubhouse-featured__members" data-tooltip="Members only">
          <a href="{{ Post(74300).link }}">
            {% include 'objects/icon--padlock.twig' %}
          </a>
        </div>
      {% endfor %}

      <p class="clubhouse-featured__category">
        {{ post.category }}
        <span class="clubhouse-featured__posted">
          &#8213;
          {{
            post.post_date_gmt
              |time_ago
              |replace({
                mins: 'minutes'
              })
          }}
        </span>
      </p>
    </div>
    <a href="{{ post.link }}" class="clubhouse-featured__link">
      <h1 class="clubhouse-featured__title">
        {{ post.post_title }}
      </h1>

      <p class="clubhouse-featured__excerpt">
        {{ post.preview|truncate(15)|striptags }}
      </p>
    </a>
  </div>
</section>
