<section class="events-hero">
  <div class="events-hero__slider">
    {% for image in latestPost.meta('events_image_gallery') %}
      <div class="events-hero__slide">
        {% include 'objects/image.twig' with {
          class: 'events-hero__media',
          alt: '',
          img: {
            base: {
              obj: Image(image),
              w: '1920',
              h: '1080',
              c: 'center'
            }
          }
        } %}
      </div>
    {% endfor %}
  </div>

  <button class="events-hero__prev"><i class="fas fa-chevron-left"></i></button>

  <button class="events-hero__next">
    <i class="fas fa-chevron-right"></i>
  </button>

  <div class="events-hero__content">
    <div class="events-hero__date">
      {{ latestPost.events_event_date|date('d.m.y') }}
    </div>
    <h1 class="events-hero__title">
      {{ latestPost.post_title }}
    </h1>
    <div class="events-hero__text">
      {{ latestPost.post_content|truncate(30) }}
    </div>
    <div class="events-hero__actions">
      <div class="events-hero__countdown"
        date-attr="{{ latestPost.events_event_date }}">
        <div class="events-hero__timer">
          <span class="events-hero__digit events-hero__digit--days">00</span>
          <span class="events-hero__legend">Days</span>
        </div>
        <div class="events-hero__timer">
          <span class="events-hero__digit events-hero__digit--hours">00</span>
          <span class="events-hero__legend">Hours</span>
        </div>
        <div class="events-hero__timer">
          <span class="events-hero__digit events-hero__digit--minutes">00</span>
          <span class="events-hero__legend">Mins</span>
        </div>
        <div class="events-hero__timer">
          <span class="events-hero__digit events-hero__digit--seconds">00</span>
          <span class="events-hero__legend">Secs</span>
        </div>
      </div>
      {% if latestPost.events_purchase_type == 'Form enquiry' %}
        <button class="events-hero__purchase js-events-modal o-btn o-btn--solid">
          Buy the guestlist package here
        </button>
        {% include 'components/events/events-modal.twig' with {
          name: post.title
        } %}
      {% else %}
        <a href="{{ site.url }}/checkout?add-to-cart=367143"
          class="events-hero__purchase o-btn o-btn--solid">
          Buy the guestlist package here
        </a>
      {% endif %}
    </div>
    <div class="events-hero__logos">
      <div class="events-hero__logo events-hero__logo--gents">
        <img src="{{ theme.link }}/assets/img/gentlemans-journal-logo-white.svg"
          alt="" />
      </div>
      <div class="events-hero__logo events-hero__logo--brand">
        <img src="{{ Image(latestPost.events_brand_logo) }}" alt="" />
      </div>
    </div>
  </div>
</section>
