{#
* Page Content
* --------
* @package GJ
* @since GJ 3.0
#}
<div class="o-post-type__content o-post-type__content--{{ post.id }} s-wysiwg-content s-article-content--{{ post.id }} {{ isWooPage ? '' : 's-post-content' }}">

    {% if fn('is_cart') %}
        {{ post.content }}
        {{ fn('do_shortcode', '[woocommerce_cart]') }}
    {% elseif fn('is_checkout') %}
        {{ post.content }}
        {{ fn('do_shortcode', '[woocommerce_checkout]') }}
    {% elseif fn('is_account_page') %}
        {{ post.content }}
        {{ fn('do_shortcode', '[woocommerce_my_account]') }}
    {% else %}
        {{ post.content }}
    {% endif %}

</div>
