{#
* Post Thumbnail Small
* --------
* @package GJ
* @since GJ 1.0
#}
{% set posted = post.post_date_gmt|time_ago|replace({'ago' : '', 'mins' : 'minutes'}) %}

<article class="o-post-thumb o-post-thumb--{{ thumbStyle }}" id="post-thumb--{{ post.ID }}">
    <a href="{{ post.link }}" class="o-post-thumb__link">
        <figure class="c-post-thumb-podcast__img-container c-post-thumb-podcast__img-container">
            {% include 'objects/icon--gj.twig' with { dark : true } %}
            <div class="c-post-thumb-podcast__play">
                <span class="c-post-thumb-podcast__play-icon far fa-play"></span>
            </div>
        </figure>
    </a>
        <div class="o-post-thumb__content">
            <a href="{{ post.link }}" class="o-post-thumb__link">
                <h1 class="c-post-thumb-podcast__title">{{ post.title }}</h1>
                <p class="c-post-thumb-podcast__topic">{{ post.podcast_topic }}</p>
                <p class="c-post-thumb-podcast__excerpt">{{ post.preview.read_more('')|striptags }}</p>
            </a>
        </div>

</article>
