{#
* Post Thumbnail Featured
* --------
* @package GJ
* @since GJ 1.0
#}
{% if post.thumbnail %}

{% if post.mobile_image %}
    {% set mobileImg = Image(post.mobile_image) %}
{% else %}
    {% set mobileImg = post.thumbnail.src %}
{% endif %}

<article class="c-post-thumb-featured" id="post-thumb--{{ post.ID }}">
    <figure class="c-post-thumb-featured__media-container">

        {% include 'objects/image.twig' with {
            class: 'c-post-thumb-featured__media',
            alt : post.title,
            img : {
                base : {
                    obj : post.thumbnail,
                    w   : '2502',
                    h   : '1200',
                    c   : 'center'
                },
                tablet : {
                    obj : mobileImg,
                    w   : '768',
                    h   : '528',
                    c   : 'center',
                },
                mobile : {
                    obj : mobileImg,
                    w   : '468',
                    h   : '528',
                    c   : 'center',
                }
            }
        } %}
    </figure>

    <div class="c-post-thumb-featured__content{{ centerFeatured ? ' c-post-thumb-featured__content--center' : '' }}">
        <p class="c-post-thumb-featured__meta">Featured Article</p>
        <h1 class="c-post-thumb-featured__title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
        <p class="c-post-thumb-featured__excerpt">{{ post.preview.read_more('')|striptags }}</p>
        <a href="{{ post.link }}" class="c-post-thumb-featured__btn o-btn o-btn--minimal">Read More <span class="c-post-thumb-featured__btn-icon fas fa-chevron-right"></span></a>
    </div>
</article>
{% endif %}
