{#
* Post Thumbnail Featured
* --------
* @package GJ
* @since GJ 1.0
#}

{#
* Vars
* --------
* @package GJ
* @since GJ 3.0
#}

{# Time Since Posted #}
{% set posted = post.post_date_gmt|time_ago|replace({'mins' : 'minutes'}) %}

{#
* Post Thumb Structure
* --------
* @package GJ
* @since GJ 3.0
#}
{% if post.thumbnail %}
    <article class="o-post-thumb o-post-thumb--{{ style }}" id="post-thumb--{{ post.ID }}">
        <a href="{{ post.link }}" class="o-post-thumb__link o-post-thumb__feat-link">
            {% include 'objects/image.twig' with {
                class: 'o-post-thumb__feat',
                alt : post.title,
                img : {
                    base : {
                        obj : post.thumbnail,
                        w   : feat.base.w,
                        h   : feat.base.h,
                        c   : feat.base.c
                    },
                    tablet : {
                        obj : post.thumbnail,
                        w   : feat.tablet.w ? feat.tablet.w : feat.base.w,
                        h   : feat.tablet.h ? feat.tablet.h : feat.base.h,
                        c   : feat.tablet.c ? feat.tablet.c : feat.base.c
                    }
                }
            } %}
        </a>
        <div class="o-post-thumb__content">
            <div class="o-post-thumb__info">

                {% for cat in post.terms if cat.ID == membersCatID %}
                    <div class="o-post-thumb__members" data-tooltip="Members only">
                        <a href="{{ Post(74300).link }}">
                            {% include 'objects/icon--padlock.twig' %}
                        </a>
                    </div>
                {% endfor %}

                <p class="o-post-thumb__category">{{ post.category }}
                <span class="o-post-thumb__posted"> &#8213; {{ posted }}</span></p>
            </div>
            <a href="{{ post.link }}" class="o-post-thumb__link">
                <h1 class="o-post-thumb__title">{{ post.post_title }}</h1>

                {% if excerpt %}
                    <p class="o-post-thumb__excerpt">{{ post.preview.length(20).force(false).read_more('')|striptags }}</p>
                {% endif %}

            </a>
        </div>

    </article>
{% endif %}
