{#
* Post Thumbnail Featured
* --------
* @package GJ
* @since GJ 1.0
#}

{#
* Vars
* --------
* @package GJ
* @since GJ 3.0
#}
{# Thumbnail Sizes #}
{% if thumbFeedLead %}
    {% set thumbSize = {'width': 412, 'height' : 275 } %}
    {% set thumbStyle = 'lead' %}
{% elseif thumbFeedStandard %}
    {% set thumbSize = {'width': 301, 'height' : 201 } %}
    {% set thumbStyle = 'standard' %}
{% elseif thumbFeedFull %}
    {% set thumbSize = {'width': 1296, 'height' : 768 } %}
    {% set thumbStyle = 'full' %}
{% else %}
    {% set thumbSize = {'width': 301, 'height' : 201 } %}
{% endif %}

{# Time Since Posted #}
{% set posted = post.post_date_gmt|time_ago|replace({'mins' : 'minutes'}) %}

{#
* Post Thumb Structure
* --------
* @package GJ
* @since GJ 3.0
#}
{% if post.thumbnail %}
<article class="o-post-thumb o-post-thumb--{{ color ? color : 'light' }} o-post-thumb--video o-post-thumb--{{ thumbStyle }}" id="post-thumb--{{ post.ID }}">

        <div class="o-post-thumb__video-container">
            {% include 'components/video-player.twig' with {
                src : post.video_url,
                thumb : {
                    src : post.thumbnail.src,
                    width : thumbSize.width,
                    height : thumbSize.height
                }
            } %}
        </div>

        <div class="o-post-thumb__content">
            <div class="o-post-thumb__info">

                {% for cat in post.terms if cat.ID == membersCatID %}
                    <div class="o-post-thumb__members" data-tooltip="Members only">
                        {% include 'objects/icon--padlock.twig' %}
                    </div>
                {% endfor %}

                <p class="o-post-thumb__category">{{ post.category }}  &#8213;
                <span class="o-post-thumb__posted">{{ posted }}</span></p>
            </div>
            <a href="{{ post.link }}" class="o-post-thumb__link">
                <h1 class="o-post-thumb__title">{{ post.post_title }}</h1>
                <p class="o-post-thumb__excerpt">{{ post.preview.length(20).force(false).read_more('')|striptags }}</p>
            </a>
        </div>

</article>
{% endif %}
