{#
* Post Thumbnail Small
* --------
* @package GJ
* @since GJ 1.0
#}
{% set posted = post.post_date_gmt|time_ago|replace({'ago' : '', 'mins' : 'minutes'}) %}
{% if post.get_thumbnail %}
<article class="c-post-thumb-small" id="post-thumb--{{ post.ID }}">
    <a href="{{ post.link }}" class="c-post-thumb-small__link">
        <picture class="c-post-thumb-small__img-container">
            <img class="c-post-thumb-small__img" src="{{ post.thumbnail.src|resize(60, 60, 'center') }}" alt="{{ post.thumbnail.alt }}"/>
        </picture>
        <div class="c-post-thumb-small__content">
            <h1 class="c-post-thumb-small__title">{{ post.post_title|truncate(6) }}</h1>
            <p class="c-post-thumb-small__excerpt">{{ post.preview.length(6).force.read_more('') }}</p>
        </div>
    </a>
</article>
{% endif %}
