{#
* Post Thumbnail Featured
* --------
* @package GJ
* @since GJ 1.0
#}

{#
* Vars
* --------
* @package GJ
* @since GJ 3.0
#}
{# Thumbnail Sizes #}
{% set thumbSize = {'width': 149, 'height' : 95 } %}

{# Time Since Posted #}
{% set posted = video.post_date_gmt|time_ago|replace({'mins' : 'minutes'}) %}

{#
* Post Thumb Structure
* --------
* @package GJ
* @since GJ 3.0
#}
{% if video.thumbnail %}
<article class="o-post-thumb o-post-thumb--dark o-post-thumb--video-playlist" id="post-thumb--{{ video.ID }}">

        <div class="o-post-thumb__content">
            <div class="o-post-thumb__info">
                <a href="{{ video.link }}" class="o-post-thumb__link">
                    <h1 class="o-post-thumb__title">{{ video.post_title }}</h1>
                </a>

                <p class="o-post-thumb__category">{{ video.category }}  &#8213;
                <span class="o-post-thumb__posted">{{ posted }}</span></p>
            </div>
        </div>

        <a href="{{ video.link }}" class="o-post-thumb__link">
            <figure class="o-post-thumb__img-container">
                <picture>
                    <img class="o-post-thumb__img" src="{{ video.thumbnail.src|resize(thumbSize.width, thumbSize.height , 'center') }}" alt="{{ video.thumbnail.alt }}"/>
                </picture>
            </figure>
        </a>

</article>
{% endif %}
