{#
* Single Post Header
* --------
* @package GJ
* @since GJ 3.0
#}

<header class="c-podcast-single-header">

    {% include 'objects/image.twig' with {
            class: 'c-podcast-single-header__feat',
            img : {
                base : {
                    obj : Image(podMeta.media.profile),
                    w   : '200',
                    h   : '200',
                    c   : 'center'
                },
            },
    } %}

    <p class="c-podcast-single-header__meta">
        {% if podMeta.number %}
            <span class="c-podcast-single-header__meta__item c-podcast-single-header__meta__item--issue">{{ '0' ~ podMeta.number }}</span>
        {% endif %}
        <span class="c-podcast-single-header__meta__item c-podcast-single-header__meta__item--date">{{ post.post_date|date('j F Y') }}</span>
        {% if podMeta.media.duration %}
            <span class="c-podcast-single-header__meta__item c-podcast-single-header__meta__item--duration">{{ '| ' ~ podMeta.media.duration ~ ' Min' }}</span>
        {% endif %}
    </p>

    {% include 'objects/title.twig' with {
        el: 'h1',
        class: 'c-podcast-single-header',
        title: post.title,
    } %}

    {% if podMeta.guest.name %}
        <p class="c-podcast-single-header__guest">{{ podMeta.guest.name }}{{ podMeta.guest.about ? ', ' ~  podMeta.guest.about : '' }}</p>
    {% endif %}

</header>
