{#
* Single Post Legacy Content
* --------
* @package GJ
* @since GJ 3.0
#}


<section class="c-post__content c-post__content--builder c-post__content--builder--legacy c-post__content--{{ post.id }} c-post__content--{{ post.post_type }} s-wysiwg-content o-wrapper o-wrapper--inner" id="js-post-content">

    <div class="o-grid o-grid--flex o-grid--collapse">

        {% if format != 'video' %}
            {% include 'components/sidebar--single.twig' %}
        {% endif %}

        <div class="c-content-builder">

            {% if post.content %}
            <div class="o-wrapper o-wrapper--reading o-wrapper--reading-left s-wysiwg-content s-post-content">
                {{ post.content }}
            </div>
            {% endif %}

            {% for item in contentBuilderLegacy %}

                {% set type = item.acf_fc_layout %}
                {% set wrapperReading = 'o-wrapper o-wrapper--reading o-wrapper--reading-left' %}

                {# Heading 2 #}
                {% if type == 'heading' %}
                    <h2 class="c-content-builder__header--2 {{ wrapperReading }}">{{ item.heading_text }}</h2>
                {% endif %}

                {# Paragraph #}
                {% if type == 'text_editor' %}
                    <div class="c-content-builder__paragraph {% if item.pull %}c-content-builder__paragraph--{{ pullClass }}{% endif %} {{ wrapperReading }}">
                        {{ item.text_editor }}
                    </div>
                {% endif %}

                {# Image #}
                {% if type == 'image' %}
                    {% include 'components/content-builder/image.twig' with { wrapper : wrapperReading } %}
                {% endif %}

                {# Image Blocks #}
                {% if type == 'image_blocks'%}
                    {% include 'components/content-builder/legacy-image-blocks.twig' with { wrapper : wrapperInner } %}
                {% endif %}

                {# Gallery #}
                {% if type == 'image_gallery' %}
                    {% include 'components/content-builder/gallery--masonry.twig' with { wrapper : wrapperInner } %}
                {% endif %}

                {# Video #}
                {% if type == 'video_embed' %}
                    {% include 'components/content-builder/embed.twig' with { wrapper : wrapperReading } %}
                {% endif %}

                {# Affiliate Button #}
                {% if type == 'button' %}
                    <div class="c-content-builder__affiliate-btn-group {{ wrapperReading }}">
                        <a class="c-content-builder__affiliate-btn o-btn o-btn--solid" href="{{ item.url }}" target="_blank">{{ item.text ? item.text : 'Buy Now' }}</a>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</section>
