{#
* Widget -- Latest Issue
* --------
* @package GJ
* @since GJ 3.0
#}
{% if currentIssue %}
<aside class="o-widget c-widget-latest-issue">
    <div class="c-widget-latest-issue-issue c-widget-latest-issue-issue__container">
        <img class="c-widget-latest-issue__img" src="{{ Image(currentIssue.issue_cover).src|resize(250) }}" alt="Latest Issue out now with {{ currentIssue.issue_cover_star }}" />
        <h1 class="c-widget-latest-issue__title">{{ currentIssue.issue_cover_star }}</h1>
        <div class="c-widget-latest-issue__content">{{ currentIssue.short_description }}</div>
        <a class="c-widget-latest-issue__btn o-btn o-btn--solid o-btn--dark" href="{{ Post(74300).link }}">Subscribe Now</a>
    </div>
</aside>
{% endif %}
