{#
* Page
* --------
* @package GJ
* @since GJ 1.0
#}
{% extends "base.twig" %}

{% if post.thumbnail %}
    {% set hasFeaturedImg = 'has-featured-img' %}
{% endif %}

{% block content %}
    <article class="c-page c-page--{{ post.slug }} {{ hasFeaturedImg }}" id="c-page--{{ post.ID }}">

        {% include 'components/page__featured-img.twig'%}
        {% include 'components/breadcrumbs.twig' with { background : 'light' } %}
        {% include 'components/page__header.twig'%}


        {% if post.post_name == "members" %}
            <section class="o-post-type o-post-type--{{ post.post_type }}">
                {% block pageContentMembers %}
                    {% include 'components/page__content.twig'%}
                {% endblock %}
            </section>
        {% else %}
            <section class="o-post-type o-post-type--{{ post.post_type }} o-wrapper o-wrapper--inner o-wrapper--padding">
                {% block pageContent %}
                    {% include 'components/page__content.twig'%}
                {% endblock %}
            </section>
        {% endif %}
    </div>
{% endblock %}
