{#
* Page : Contact Us
* --------
* @package GJ
* @since GJ 1.0
#}
{% extends "page.twig" %}

{% block pageContent %}

    <div class="o-grid o-grid--flex o-grid--collapse-netbook">

        <section class="o-grid o-wrapper--reading o-post-type__content o-post-type__content--{{ post.slug }} s-wysiwg-content s-article-content--{{ post.slug }} s-post-content">
            {{ post.content }}
        </section>

        {% if post.get_field('careers') %}
            <section class="c-careers">
            <h2 class="c-careers__title">Available Roles</h2>
            <p class="c-careers__current-available">Current open positions <strong>{{ post.careers_jobs }}</strong></p>
            {% for item in post.get_field('careers_jobs') %}
                <article class="c-careers__item">
                    <h1 class="c-careers__position">{{ item.position }}</h1>
                    <div class="c-careers__description">{{ item.short_description }}</div>
                    {% include 'objects/button.twig' with {
                        el: 'a',
                        class: 'o-btn--solid o-btn--light c-careers',
                        cta: 'Download Job Specification',
                        link: item.job_spec,
                        target: true,
                    } %}
                </article>
            {% endfor %}
            </section>
        {% endif %}

    </div>

{% endblock %}
