{#
* Logo Icon
* -------
* @package Lydia
* @since Lydia 1.0
#}
<section class="o-logo o-logo--icon o-logo--{{ style }} o-logo--{{ type }}" itemscope itemtype="http://schema.org/Organization" id="js-logo--{{ style }}">
    <a class="o-logo__link" itemprop="url" rel="home" href="{{ site.link }}">

        {{ source('objects/svg/logo--symbol.svg') }}

    </a>
</section>
