{#
* Clubhouse Partner Card
* ---------
* @component Clubhouse
* @version 1
#}

<article class="c-club-partner-card c-club-partner-card--{{ loop.index }}">

    <div class="c-club-partner-card__img-holder">

        {% if partner.thumbnail %}

            {% include 'objects/image.twig' with {
                class: 'c-club-partner-card__img',
                img : {
                    base : {
                        obj : partner.thumbnail,
                        w   : '307',
                        h   : '181',
                        c   : 'center'
                    }
                }
            } %}

        {% endif %}

        {% if partner.meta('partner_information').logo %}
             {% include 'objects/image.twig' with {
                    class: 'c-club-partner-card__logo',
                    img : {
                        base : {
                            obj : Image(partner.meta('partner_information').logo),
                            w   : '148',
                            h   : '148'
                        }
                    }
                } %}
        {% endif %}

        {% if partner.post_date_gmt|date("U") > "-30 days"|date("U") %}
            <span class="c-club-partner-card__new-badge">New offer</span>
        {% endif %}

        {% if partner.meta('partner_information').address %}
            <a class="c-club-partner-card__directions" href="{{ 'https://www.google.com/maps/dir/?api=1&destination=' ~ partner.meta('partner_information').address.address|url_encode }}" title="Get Directions" target="_blank">
            <span class="fas fa-map-marker-alt c-club-partner-card__directions__icon"></span></a>
        {% endif %}

    </div>

    <div class="c-club-partner-card__content-holder">
        <h1 class="c-club-partner-card__title">{{ partner.name }}</h1>
        <p class="c-club-partner-card__offer">{{ partner.meta('partner_information').offer }}</p>
    </div>

    <div class="c-club-partner-card__actions">
        {% include 'objects/button.twig' with {
            el: 'button',
            cta: 'Redeem offer',
            class : 'c-club-partner-card__actions__offer',
            role : 'button'
        } %}

        {% include 'objects/button.twig' with {
            cta: 'Visit website',
            class : 'c-club-partner-card__actions__website',
            link : partner.meta('partner_information').website,
            target: true,
            after: '<span class="far fa-external-link c-club-partner-card__actions__icon"></span>'
        } %}
    </div>

    <aside class="c-club-partner-card__modal">

        <h2 class="c-club-partner-card__modal__title">How to redeem this offer:</h2>
        {% if partner.meta('partner_information').redeem %}
            <p class="c-club-partner-card__modal__redeem">{{ partner.meta('partner_information').redeem }}</p>
        {% endif %}
        {% if partner.meta('partner_information').terms_of_use %}
            <p class="c-club-partner-card__modal__terms">T&amp;C's: {{ partner.meta('partner_information').terms_of_use }}</p>
        {% endif %}

        {% include 'objects/button.twig' with {
            cta: 'Join the club',
            class : 'c-club-partner-card__modal__join',
            link  : Post(74300).link
        } %}

    </aside>

</article>
