{% if item.children %}
  <div class="c-masthead-nav__subnav subnav-editorial">
    <div class="subnav-editorial__container">
      <div class="subnav-editorial__items">
        {% for child in item.children %}
          {% if child.object == 'category' %}
            <div class="subnav-editorial__item">
              <a class="subnav-editorial__link {{
                child.class
                }} js-editorial-link"
                name-attr="{{ child.name|sanitize }}"
                href="{{ child.link }}"
                tabindex="-1">
                <span class="subnav-editorial__title">{{ child.title }}</span>
              </a>

              {% if child.children %}
                <div class="subnav-editorial-child">
                  <div class="subnav-editorial-child__items">
                    {% for grandchild in child.children %}
                      <a class="subnav-editorial-child__item js-editorial-link"
                        name-attr="{{ grandchild.name|sanitize }}"
                        href="{{ grandchild.link }}"
                        tabindex="-1">
                        <span class="subnav-editorial-child__title">
                          {{ grandchild.title }}
                        </span>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="subnav-editorial__preview">
        {% for child in item.children %}
          {% if child.object == 'category' %}
            {% include 'components/masthead/masthead__nav--editorial-preview.twig' with {
              item: child,
              post: Post(
                fn(
                  'get_posts',
                  {
                    category_name: child.name|sanitize,
                    posts_per_page: 1
                  }
                )
              )[0]
            } %}
            {% if child.children %}
              {% for grandchild in child.children %}
                {% include 'components/masthead/masthead__nav--editorial-preview.twig' with {
                  item: grandchild,
                  post: Post(
                    fn(
                      'get_posts',
                      {
                        category_name: grandchild.name|sanitize,
                        posts_per_page: 1
                      }
                    )
                  )[0]
                } %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
