<div class="c-masthead-nav__subnav subnav-sessions">
  <div class="subnav-sessions__container">
    <div class="subnav-sessions__items">
      {% for item in latestSessionsMenu %}
        {% set item = Post(item) %}
        <a href="{{ item.link }}"
          class="subnav-sessions__item js-sessions-link"
          name-attr="{{ item.name|sanitize }}">
          <div class="subnav-sessions__title">
            {{ item.title }}
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="subnav-sessions__preview">
      {% for item in latestSessionsMenu %}
        {% set item = Post(item) %}
        <a href="{{ item.link }}"
          class="subnav-sessions__thumbnail"
          categories-attr="{{ item.name|sanitize }}">
          <img src="{{ Image(item.thumbnail)|resize(1260, 800, 'center') }}"
            alt=""
            class="subnav-sessions__image" />
        </a>
      {% endfor %}
    </div>
  </div>
</div>
