{#
* Masthead Actions
* --------
* @package components/masthead
* @version 1.0.0
#}

<nav class="c-nav c-masthead-actions" id="js-nav-actions">

    <ul class="c-masthead-actions__items">
        {# Search #}
        <li class="c-masthead-actions__item" id="c-masthead-actions__item-search">
            <a class="c-masthead-actions__link" tabindex="0">
                {{ source('objects/svg/search.svg') }}
            </a>
        </li>

        {# Account #}
        <li class="c-masthead-actions__item" id="c-masthead-actions__item-account">
            <a class="c-masthead-actions__link" href="{{ endpoints.myaccount }}">
                {{ source('objects/svg/account.svg') }}
            </a>
        </li>

        {# Bag #}
        <li class="c-masthead-actions__item" id="c-masthead-actions__item-bag">
            <a class="c-masthead-actions__link" href="{{ endpoints.cart }}">
                {{ source('objects/svg/bag.svg') }}
            </a>
        </li>

        <li class="c-masthead-actions__item c-masthead-actions__item--newsletter js-open-newsletter-modal" id="c-masthead-actions__item-newsletter">
            <a class="c-masthead-actions__link" tabindex="0">
                <span class="c-masthead-actions__item-icon far fa-envelope"></span>
                <span class="c-masthead-actions__item-label-wrap">
                    <span class="c-masthead-actions__item-label c-masthead-actions__item-label--prime">Newsletter</span>
                    <span class="c-masthead-actions__item-label c-masthead-actions__item-label--alt">Sign up</span>
                </span>
            </a>
        </li>
    </ul>

</nav>
