<div class="c-masthead-nav__subnav subnav-video">
  <div class="subnav-video__container">
    <div class="subnav-video__items">
      {% for item in latestVideosMenu %}
        {% set item = Post(item) %}
        <a href="{{ item.link }}"
          class="subnav-video__item js-video-link"
          name-attr="{{ item.name|sanitize }}">
          <div class="subnav-video__icon">
            <i class="fal fa-play"></i>
          </div>
          <div class="subnav-video__title">
            {{ item.title }}
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="subnav-video__preview">
      {% for item in latestVideosMenu %}
        {% set item = Post(item) %}
        <a href="{{ item.link }}" class="subnav-video__thumbnail"
          categories-attr="{{ item.name|sanitize }}">
          <img src="{{ Image(item.thumbnail)|resize(1260, 800, 'center') }}"
            alt=""
            class="subnav-video__image" />
          <div class="subnav-video__symbol">
            <i class="fal fa-play"></i>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
