{#
* Main Site Navigation
* -------
* @package GJ
* @since GJ 1.0
#}
<section class="c-masthead-subscribe">
    <a href="{{ Post(74300).link }}" class="o-btn o-btn--dark-on-light c-masthead-subscribe__link" name="Subscribe Clicked" onclick="dataLayer.push({'event': 'SubscribeClicked'});">Subscribe</a>
        <div class="c-masthead-subscribe-issue c-masthead-subscribe-issue__container">
            <a href="{{ Post(74300).link }}" name="Subscribe Clicked" onclick="dataLayer.push({'event': 'SubscribeClicked'});">
                <img class="c-masthead-subscribe-issue__img" src="{{ Image(currentIssue.issue_cover).src|resize(232, 306, 'center') }}" alt="Latest Issue out now with {{ currentIssue.issue_cover_star }}" />
                <h2 class="c-masthead-subscribe-issue__title">{{ currentIssue.issue_cover_star }}</h2>
            </a>
        </div>
</section>
