{#
* Masthead Sub Nav
* --------
* @package components/masthead
* @version 1.0.0
#}

{% if item.children %}

    <div class="{{ class }}__subnav c-masthead-subnav">

        <div class="c-masthead-subnav__items">
            {% for child in item.children %}
                {% if child.object == 'category' %}
                    <div class="c-masthead-subnav__item">
                        <a class="c-masthead-subnav__link {{ child.class }}" href="{{ child.link }}" tabindex="-1">
                            <span class="c-masthead-subnav__title">{{ child.title }}</span>
                        </a>

                        {% if child.children %}
                            <div class="c-masthead-sub-subnav">
                                <div class="c-masthead-sub-subnav__items">
                                    {% for grandchild in child.children %}
                                        <a class="c-masthead-sub-subnav__item" href="{{ grandchild.link }}" tabindex="-1">
                                            <span class="c-masthead-sub-subnav__title">{{ grandchild.title }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}
