<section class="horizons-cta"
  style="background-image:url({{ Image(post.horizons_cta_background)|resize(
    1920,
    0,
    'center'
  ) }})">
  <img src="{{ theme.link }}/assets/img/logo-curves.svg" alt="Horizons" class="horizons-cta__logo" />
  <div class="horizons-cta__container">
    <h3 class="horizons-cta__title">
      Discover Horizons.
    </h3>
    <div class="horizons-cta__subtitle">
      Find out more and apply to the Horizon's Network
    </div>
    <a href="{{ post.horizons_link.url }}"
      class="horizons-cta__link"
      {{ post.horizons_link.target ? 'target="__blank"' }}>
      {{ post.horizons_link.title }}
    </a>
  </div>
</section>
