{#
* Podcast : Hero Nav
* ---------
* @package components/podcast
#}
<ul class="c-podcast-hero-nav" js="js-podcast-hero-slider--nav">

    <span class="c-podcast-hero-nav__marker"></span>

    {% for hero in podcastGlobal.featured.hero %}
        {% set hero = Post(hero) %}
        {% set heroMeta = hero.get_field('podcast_meta') %}

        <li class="c-podcast-hero-nav__item {{ loop.first ? 'is-current' : '' }}" data-slick-nav-index="{{ loop.index0 }}">
            <span class="c-podcast-hero-nav__index">{{ loop.index }}</span>
            <div class="c-podcast-hero-nav__details">
                <span class="c-podcast-hero-nav__title">{{ hero.title }}</span>
                {% if heroMeta.guest.name %}
                    <span class="c-podcast-hero-nav__guest">{{ heroMeta.guest.name }}{{ heroMeta.guest.about ? ', ' ~  heroMeta.guest.about : '' }}</span>
                {% endif %}
            </div>
        </li>

    {% endfor %}
</ul>

<div class="c-podcast-hero-nav__scroll">
    <div class="c-podcast-hero-nav__scroll__inner">
        <span class="c-podcast-hero-nav__scroll__cta">Scroll</span>
        <span class="c-podcast-hero-nav__scroll__arrow c-podcast-hero-nav__scroll__arrow--one fas fa-chevron-down"></span>
        <span class="c-podcast-hero-nav__scroll__arrow c-podcast-hero-nav__scroll__arrow--two fas fa-chevron-down"></span>
        <span class="c-podcast-hero-nav__scroll__arrow c-podcast-hero-nav__scroll__arrow--three fas fa-chevron-down"></span>
    </div>
</div>
