{% if post.thumbnail %}
  <div class="subscription-hero">
    <div class="subscription-hero__content">
      <div class="subscription-hero__content__container">
        <h1 class="subscription-hero__title">{{ post.title }}</h1>
        <h2 class="subscription-hero__subtitle">{{ club.subtitle }}</h2>
        <a class="subscription-hero__link o-btn o-btn--animated subscription-perk__link--light o-btn--outline" href="#" id="subscription-scroll">Clubhouse Perks</a>
      </div>
    </div>
    <figure class="c-post__featured-img-print c-post__featured-img-container o-wrapper">
      <picture>
          <source media="(max-width: 768px)" srcset="{{ post.thumbnail.src|resize(768, 650) }} 1x">
          <img class="c-post__featured-img-image" src="{{ post.thumbnail.src|resize(1800, 756, 'center') }}" alt="{{ post.thumbnail.alt }}"/>
      </picture>
    </figure>
  </div>
{% endif %}