{#
* Subscription forms
* --------
* @package GJ
* @since GJ 5.0
* @version 1.0
#}
{% set subscriptionProductsBlocks = post.get_field('subscription_products_blocks') %}

<section class="subscription-products">
    {% for productBlock in subscriptionProductsBlocks %}

        {% set counter = counter + 1 %}
        <div class="subscription-products__block o-wrapper o-wrapper--inner">
            <div class="subscription-products__content">
                <div class="subscription-products__counter">0{{ counter }}</div>
                <h2 class="subscription-products__title sub-type">{{ productBlock.title }}</h2>
                <div class="subscription-products__description">{{ productBlock.content }}</div>

                {% if productBlock.included_in_vip or productBlock.included_in_online %}
                    <div class="included-in-subscription">Included in the
                        {% if productBlock.included_in_vip and productBlock.included_in_online %}
                            <button class="included-in-subscription--vip js-scroll__subscribe-form">VIP</button>
                            <button class="included-in-subscription--default js-scroll__subscribe-form">Online Subscription</button>
                        {% elseif productBlock.included_in_online %}
                            <button class="included-in-subscription--default js-scroll__subscribe-form">Online Subscription</button>
                        {% elseif productBlock.included_in_vip %}
                            <button class="included-in-subscription--vip js-scroll__subscribe-form">VIP Subscription</button>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <div class="subscription-products__image">
                <img src="{{ productBlock.image.url|resize(750) }}" alt="{{ productBlock.title }}">
            </div>
        </div>
    {% endfor %}
</section>
