<button data-offset="{{ offset }}"
  data-post-type="{{ postType }}"
  data-template="{{ template }}"
  data-category="{{ category }}"
  data-taxonomy="{{ taxonomy }}"
  data-posts-per-page="{{ postsPerPage }}"
  class="load-more o-btn o-btn--animated o-btn--solid o-btn--light">
  Load more
</button>
