{#
* Content Builder : Gallery
* --------
* @package GJ
* @since GJ 3.0
#}
<figure class="c-content-builder__gallery {{ wrapper }}">

        {% for image in item.image_block %}

            <div class="c-content-builder__gallery-img-container">
                {% set img = Image(image.image) %}

                {% if image.caption %}
                    <a href="{{ image.link }}">
                {% endif %}

                <picture>
                    {# <source media="(max-width: 768px)" srcset="{{ img.src|resize(664) }} 1x"> #}
                    <img class="c-content-builder__gallery-img" src="{{ img.src|resize(417, 522, 'center') }}" alt="{{ img.alt ? img.alt|e : post.title|e }}"/>
                </picture>

                {% if image.caption %}
                    </a>
                {% endif %}

                {% if image.caption %}
                    <figcaption class="c-content-builder__img-caption">{{ image.caption }}</figcaption>
                {% endif %}
            </div>

        {% endfor %}
</figure>
