{#
* Content Builder : Recommended Products
* --------
* @package GJ
* @since GJ 3.0
#}
<div class="c-content-builder__products c-content-builder__products--affiliates {{ wrapper }}">
    {% for product in item.affiliate_products %}
        {% set img = Image(product.image) %}
        <article class="c-content-builder__product">
            <figure class="c-content-builder__product-img-group">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ img.src|resize(620) }} 1x">
                    <img class="c-content-builder__product-img" src="{{ img.src|resize(407) }}" alt="{{ img.alt ? img.alt|e : post.title|e }}"/>
                </picture>
            </figure>
            <h1 class="c-content-builder__product-title">{{ product.title }}</h1>
            {% if product.price %}
                <p class="c-content-builder__product-price">£{{ product.price }}</p>
            {% endif %}
            {% if product.text %}
                <p class="c-content-builder__product-description">{{ product.text }}</p>
            {% endif %}
            <a class="o-btn o-btn--solid c-content-builder__product-btn" href="{{ product.affiliate_link }}" target="_blank">{{ product.url_button_text ? product.url_button_text | raw : 'Buy Now' }}</a>
        </article>
    {% endfor %}
</div>
