{% if article %}
<article class="c-hub-featured">

    {% include 'objects/image.twig' with {
        class: 'c-hub-featured__media',
        alt : article.title,
        img : {
            base : {
                obj : article.thumbnail,
                w   : '1920',
                h   : '1080',
                c   : 'center'
            },
            tablet : {
                obj : article.thumbnail,
                w   : '768',
                h   : '1080',
                c   : 'center',
            },
            mobile : {
                obj : article.thumbnail,
                w   : '468',
                h   : '520',
                c   : 'center',
            }
        }
    } %}

    <div class="c-hub-featured__container">

        <div class="c-hub-featured__scroller">
            {{ icon('fas', 'chevron-down', 'c-hub-featured__chevron') }}
            {{ icon('fas', 'chevron-down', 'c-hub-featured__chevron') }}
            {{ icon('fas', 'chevron-down', 'c-hub-featured__chevron') }}
        </div>

        <div class="c-hub-featured__info">

            <p class="c-hub-featured__pre-title">{{ section.title }}</p>

            {% include 'objects/title.twig' with {
                el: 'h1',
                class: 'c-hub-featured',
                title: article.title,
            } %}

            <div class="c-hub-featured__excerpt">
                {{ article.preview.read_more('')|striptags }}
            </div>

            {% include 'objects/button.twig' with {
                el: 'a',
                cta: 'Read More' ~ icon('fas', 'chevron-right'),
                link: article.link,
                style: 'bare',
                class: 'c-hub-featured',
            } %}

        </div>
    </div>
</article>
{% endif %}
