{#
* Tease
* ---------
* @component hub
* @version 1
#}
{% if article.thumbnail %}
    <article class="c-hub-tease">
        <a href="{{ article.link }}" class="c-hub-tease__link c-hub-tease__feat-link">
            {% include 'objects/image.twig' with {
                class: 'c-hub-tease__feat',
                alt : article.title,
                img : {
                    base : {
                        obj : article.thumbnail,
                        w   : 783,
                        h   : 500,
                        c   : 'center'
                    }
                }
            } %}
        </a>

        <div class="c-hub-tease__content">
            <p class="c-hub-tease__category">{{ section.title }}</p>
            <a href="{{ article.link }}" class="c-hub-tease__link">
                <h1 class="c-hub-tease__title">{{ article.title }}</h1>
                <div class="c-hub-tease__excerpt">
                    {{ article.preview.read_more('')|striptags }}
                </div>
            </a>
        </div>
    </article>
{% endif %}
