{#
* Tease Product
* --------
* @package GJ
* @since GJ 1.0
#}
<article {{ fn('post_class', 'c-product c-product--teaser' ) }}>

    {{ fn('timber_set_product', post) }}

    <div class="c-product__teaser-content">

        {% if post.thumbnail %}
            <div class="c-product__thumbnail {% if not post.thumbnail %}placeholder{% endif %}">
                <a href="{{ post.link }}">
                    {% if post.thumbnail %}
                        <div class="c-product__img-cont">
                            <img class="c-product__img" src="{{ post.thumbnail.src|resize(276) }}" alt="{{ post.title }}">
                        </div>
                    {% else %}
                        <span class="c-product__placeholder"><i class="icon-camera"></i></span>
                    {% endif %}
                </a>
            </div>
        {% endif %}

        <div class="c-product__summary">

            {% do action('woocommerce_before_shop_loop_item_title') %}

            {% if post.title %}
                <h3 class="c-product__title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
            {% else %}
                <h3 class="c-product__title"><a href="{{ post.link }}">{{ fn('the_title') }}</a></h3>
            {% endif %}

            {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
            {% do action( 'woocommerce_after_shop_loop_item' ) %}

        </div>

    </div>

</article>
